/* Portfolio.css */
.portfolio-image {
    transition: transform 0.3s ease; /* Smooth scale transition */
  }
  
  .position-relative {
    margin-bottom: 20px; /* Space between images */
  }
  
  .portfolio-image:hover {
    transform: scale(1.05); /* Scale up image on hover */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: white; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for overlay */
  }
  
  .position-relative:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }
  
  .text {
    font-size: 1.2rem; /* Adjust font size as needed */
    text-align: center; /* Center text */
  }
  
